body {
  background-color: #1A1A1A !important;
  color: white; /* Optional: Set text color to white for better readability */
}

.header{
    background-color: #282828;
    color: #A9A7A1;
}
.logo{
    color: #DAD7D0 !important;
}
.card-header{
    background-color: #333333!important;
}
.card{
    padding:0px;
    background-color: #252525 !important;
    border-radius: 50% !important;
}
.card-body{
 background-color: #262626!important;
}

.bar {
    display: inline-block;
    width: 1%;
    margin: 0px;
    background-color: #D38612;
}

#start-btn{
    background-color: #6B35BE;
}

#path-find-container {
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
}


.grid-container {
    width: 80vw;  /* Responsive width based on viewport */
    height: 80vw; /* Make it square based on width */
    max-width: 600px; /* Max width to prevent it from getting too large */
    max-height: 600px;
    margin: auto;
}
@media (max-width: 768px) { /* Adjust breakpoint as needed */
    .grid-container {
        width: 95vw;
        height:95vw; /* Adjust height as needed */
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr); /* Responsive columns */
    grid-template-rows: repeat(40, 1fr);    /* Responsive rows */
    gap: 0px;
    height: 100%;
}

.cell {
    width: 100%;
    height: 100%;
    border: 1px solid #444444;
    background-color: #A9A7A1; /* Default color */
}

.cur{
    background-color:#00008F;
}
.cell.wall {
    background-color: #1A1A1A; /* Dark color for walls */
}
.highlight {
    background-color: #0F77E1; /* Color to indicate a move */
}
.path-style{
    background-color: #28C244;
}

  .move-container {
    margin: 20px auto;
    text-align: center;
}
.control-buttons {
    margin-top: 20px;
}

.signal {
  background-color: green;
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
}

.button-checkbox {
  display: inline-block;
  cursor: pointer;
}

.button-checkbox input[type="checkbox"] {
  display: none; /* Hide the checkbox */
}

.button-checkbox .button {
  display: inline-block;
  padding: 0px 4px;
  background-color: #3C3C3C;
  color: white;
  border-radius: 15px;
  border: 1px solid #3C3C3C;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 0.8rem;
   font-weight: bold;
}

.button-checkbox input[type="checkbox"]:checked + .button {
  background-color: #3C3C3C;
  border-color: #F79F1E;
}

.button-checkbox .button:hover {
  background-color: #005f73;
}
