<aside  xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
    <h1>Select Sorting Algorithms</h1>
    <form action="/sort" method="post">
        <label for="bubbleSort">
            <input type="checkbox" name="sortTypes" value="BUBBLE_SORT" id="bubbleSort">
            Bubble Sort
        </label><br>
        <label for="selectionSort">
            <input type="checkbox" name="sortTypes" value="SELECTION_SORT" id="selectionSort">
            Selection Sort
        </label><br>
        <label for="quickSort">
            <input type="checkbox" name="sortTypes" value="QUICK_SORT" id="quickSort">
            Quick Sort
        </label><br>
        <label for="mergeSort">
            <input type="checkbox" name="sortTypes" value="MERGE_SORT" id="mergeSort">
            Merge Sort
        </label><br><br>
        <input type="submit" value="Submit">
    </form>
</aside>
